.main {
  display: grid;
  place-items: center;
}
table {
  border-spacing: 0;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}
td {
  border-top: 1px solid #ccc;
  border-left: 1px solid #ccc;
  padding: 10px;
}
table tr td:last-childe {
  border-right: 1px solid #ccc;
}
